
body {
    background-color:#010409 ; 
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.github-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    background-color: #010409;
    border-bottom: 1px solid #30363d;
    color: #c9d1d9; 
}

.header-left {
    display: flex;
    align-items: center;
}

.menu-toggle {
    background: none;
    border: none;
    color: #c9d1d9;
    font-size: 20px;
    cursor: pointer;
    padding: 0 10px 0 0;
    display: none;
}

.github-logo {
    font-size: 24px;
    margin-right: 16px;
    color: #f0f6fc;
}

.repo-name {
    font-size: 16px;
}

.repo-spec {
    font-weight: bold;
}

.header-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #0d1117;
    border: 1px solid #30363d;
    border-radius: 6px;
    padding: 5px 12px;
    max-width: 400px;
    width: 100%;
    color: #8b949e; 
}

.search-input {
    background: none;
    border: none;
    color: #c9d1d9;
    padding: 0 8px;
    width: 100%;
    font-size: 14px;
}

.search-input::placeholder {
    color: #8b949e;
}

.search-input:focus {
    outline: none;
}


.header-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.icon-link {
    color: #c9d1d9;
    font-size: 16px;
    text-decoration: none;
    opacity: 0.7;
    transition: opacity 0.2s;
    border: 1px solid white;
    padding: 6px;
    border-radius: 5px;
}

.icon-link:hover {
    opacity: 1;
}

.profile-avatar {
    width: 28px;
    height: 28px;
    background-color: #d88998; 
    border-radius: 50%;
    border: 1px solid #30363d;
    cursor: pointer;
    background-image:url(github.png)  ;
    
}


@media (max-width: 900px) {
    

    .menu-toggle {
        display: block;
        margin-right: 10px;
    }
    

    .repo-name {
        display: none;
    }


    .header-center {
        display: none; 
    }
    

    .header-right {
        gap: 12px;
    }


    .header-right .icon-link:not(:nth-child(2)):not(:nth-child(4)) {
        display: none;
    }

    .github-logo {
        margin-right: 12px;
    }
}